In [58]:
import datetime as datetime
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('default') # Make the graphs a bit prettier
plt.rcParams['figure.figsize'] = (15, 5)

%matplotlib inline

##Autor Ariel Martinez
## Validacion nivel educativo de los postulantes

In [59]:
#nivel educativo
postulantes_educacion = pd.read_csv("datos/datos_navent_fiuba/fiuba_1_postulantes_educacion.csv", low_memory=False)

#fecha de nacimiento y genero
postulantes_genero_y_edad = pd.read_csv("datos/datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad.csv", low_memory=False)

#vistas de avisos online y offline
vistas = pd.read_csv("datos/datos_navent_fiuba/fiuba_3_vistas.csv", low_memory=False)

#postulaciones hasta el 1ro de marzo 2018
postulaciones = pd.read_csv("datos/datos_navent_fiuba/fiuba_4_postulaciones.csv", low_memory=False)

#avisos online al 8 de marzo de 2018
avisos_online = pd.read_csv("datos/datos_navent_fiuba/fiuba_5_avisos_online.csv", low_memory=False)

#detalle de avisos vistos y postulados tanto offline como online
avisos_detalle = pd.read_csv("datos/datos_navent_fiuba/fiuba_6_avisos_detalle.csv", low_memory=False)

# Se realizan validaciones del nivel educativo de los postulantes.
Se filtran los niveles educativos que no estan definidos (los llamados 'Otros')
Nota: Se podria considerar 'Otros' como un estudio extra-curricular del postulante

In [60]:
postulantes_educacion = postulantes_educacion[postulantes_educacion['nombre']!='Otro']

In [61]:
# Se observa que existen postulantes con mas de un nivel educativo (valga la redundancia)
postulantes_educacion['idpostulante'].value_counts().head()

Ez0LBk9    7
YlMLGD     7
e9BNrp     6
8AZKkO     6
8M21pBL    6
Name: idpostulante, dtype: int64

In [62]:
postulantes_educacion[postulantes_educacion['idpostulante']=='Ez0LBk9'].sort_values('nombre')

      idpostulante             nombre      estado
61175      Ez0LBk9           Posgrado    En Curso
63944      Ez0LBk9           Posgrado    Graduado
63941      Ez0LBk9         Secundario    Graduado
63942      Ez0LBk9  Terciario/Técnico    Graduado
64541      Ez0LBk9  Terciario/Técnico  Abandonado
61176      Ez0LBk9      Universitario    En Curso
63943      Ez0LBk9      Universitario    Graduado

Hasta aca se concluye que no hay problema que un postulante tenga mas de un nivel educativo ya sea en curso o no.

### Se analisa las vistas y postulaciones del postulante: Ez0LBk9

In [63]:
print ( "Cantidad de vistas: " + str(len(vistas[vistas['idpostulante']=='Ez0LBk9'])) )
print ( "Cantidad de postulaciones: " + str(len(postulaciones[postulaciones['idpostulante']=='Ez0LBk9']) ) )

Cantidad de vistas: 0
Cantidad de postulaciones: 8

Al no haber ninguna vista para el postulante 'Ez0LBk9' resulta que las mismas fueron de manera offline.

In [64]:
postulaciones_Ez0LBk9 = postulaciones[postulaciones['idpostulante']=='Ez0LBk9'].sort_values('fechapostulacion', ascending=False)
postulaciones_Ez0LBk9

           idaviso idpostulante     fechapostulacion
600778  1112337868      Ez0LBk9  2018-02-15 07:59:49
600777  1112293625      Ez0LBk9  2018-01-28 21:57:13
600776  1111755143      Ez0LBk9  2018-01-28 21:35:19
600775  1112254213      Ez0LBk9  2018-01-28 21:34:26
600774  1112278015      Ez0LBk9  2018-01-28 21:33:44
600773  1112281495      Ez0LBk9  2018-01-28 21:28:01
600772  1112292169      Ez0LBk9  2018-01-28 21:17:11
600771  1112276958      Ez0LBk9  2018-01-21 20:16:04

In [65]:
avisos_detalle_Ez0LBk9 = pd.merge(postulaciones_Ez0LBk9, avisos_detalle, on='idaviso', how='left')
avisos_detalle_Ez0LBk9

,idaviso,idpostulante,fechapostulacion,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1112337868,Ez0LBk9,2018-02-15 07:59:49,1,Secretaria para centro medico,<p>Importante Centro Medico esta solicitando u...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Secretaria,Estrategia Laboral S.A.
1,1112293625,Ez0LBk9,2018-01-28 21:57:13,1,Representante de Atención al Cliente - Turno N...,"<p style="""">¡Esta es tu oportunidad para forma...",Gran Buenos Aires,NaN,NaN,Part-time,Junior,Telemarketing,COMDATA ARGENTINA SA
2,1111755143,Ez0LBk9,2018-01-28 21:35:19,1,Administrativa/o para Centro Médico Accord Rec...,<p>Nos encontramos en la búsqueda de administr...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Administración,Unión Personal
3,1112254213,Ez0LBk9,2018-01-28 21:34:26,1,Liquidador de Prestaciones Medicas,<p>Obra Social Unión Personal se encuentra en ...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Salud,Unión Personal
4,1112278015,Ez0LBk9,2018-01-28 21:33:44,1,Administrativo de Tesorería - Unión Personal,<p><strong>Obra Social Unión Personal</strong>...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Administración,Unión Personal
5,1112281495,Ez0LBk9,2018-01-28 21:28:01,1,"Jefe de Higiene, Seguridad y Medioambiente","<p>Importante Holding Industrial incorpora,</p...",Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Otros,Archenti
6,1112292169,Ez0LBk9,2018-01-28 21:17:11,1,Gerente de Operaciones de Franquicias ( Zona N...,"<p style=""""><span style=""""><strong>La cadena d...",Gran Buenos Aires,NaN,NaN,Full-time,Gerencia / Alta Gerencia / Dirección,Desarrollo de Negocios,Costumbres Argentinas
7,1112276958,Ez0LBk9,2018-01-21 20:16:04,1,Responsable Administrativo Comercial,<p><strong>Diagnostic Medic S.A </strong>se en...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Facturación,Diagnostic Medic S A

# Analisis de la cantidad de titulos Universitarios que tienen los postulantes  

Se procede en base a los siguientes datos filtrados

In [66]:
postulantes_educacion[postulantes_educacion['idpostulante']=='Ez0LBk9'].sort_values('nombre')

      idpostulante             nombre      estado
61175      Ez0LBk9           Posgrado    En Curso
63944      Ez0LBk9           Posgrado    Graduado
63941      Ez0LBk9         Secundario    Graduado
63942      Ez0LBk9  Terciario/Técnico    Graduado
64541      Ez0LBk9  Terciario/Técnico  Abandonado
61176      Ez0LBk9      Universitario    En Curso
63943      Ez0LBk9      Universitario    Graduado

In [100]:
postulantes_educacion['cant_educacion_doble'] = 1
cantidad = postulantes_educacion.groupby(['idpostulante', 'nombre', 'estado']).agg({'cant_educacion_doble':'count'})
cantidad = cantidad.sort_values(by=['idpostulante'], ascending = False)

KeyError: 'idpostulante'

Se puede concluir que no hay postulantes con doble educacion, es decir que no hay un postulante que tenga 2 titulos univeristarios.

In [68]:
postulantes_educacion[postulantes_educacion['idpostulante']=='ZDrmr1'].sort_values('nombre')

       idpostulante             nombre      estado  cant_educacion_doble
273543      ZDrqmr1  Terciario/Técnico    En Curso                     1
276548      ZDrqmr1  Terciario/Técnico    Graduado                     1
277095      ZDrqmr1  Terciario/Técnico  Abandonado                     1
277096      ZDrqmr1      Universitario  Abandonado                     1